* {
	cursor: url('../png/cursor-01.png'), auto;
}
#shake {
    margin: 0;
    position: fixed;
    left: 30%;
/*    transform: translate(-50%, -50%);*/
}
.assignment {
    position:relative;
    margin-top:2%;
    left:2%;
}