@font-face {
    font-family: 'northenregular';
    src: url('webfontkit-20190127-020307/northen-webfont.woff2') format('woff2'),
         url('webfontkit-20190127-020307/northen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
 background:#FFFFF0;
 }
h1{
font-family: Georgia;
}
h2{
 font-family: nothenregular;
 }
